@media (max-width: 1320px) {
  #home {
    padding: 0rem;

    .content-inicio {
      margin-left: 2rem;
    }

    .img1 {
      margin-left: 30px;
    }

    .img2 {
      left: 10px;
      width: 160px;
      height: 180px;
      border-radius: 1rem 2rem 2rem 1rem;
    }

    .img3 {
      left: 18rem;
      width: 230px;
    }

    h1 {
      font-size: 43.3px;
      span {
        white-space: wrap;
      }
    }

    .btn-vermais {
      margin: 3rem 0rem 10rem 0rem;
      top: 0;
      width: 22rem;
    }
  }
  #sobre {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .img-apogonos {
      position: relative;
      top: 0rem;
    }
  }

  #produtos{
    scroll-margin-top: 4rem;
  }

  .content-produtos {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  /*LOGIN*/
  .input-name,
  .input-senha {
    width: 25rem;
  }
  .btn-pedidos {
    margin-left: 10%;
  }
  /*PEDIDOS*/
          .cards{
           height: 400px;
        }
        .cards > div:first-of-type > p ::before{
           top: 57%;
        }

}

@media (max-width: 900px) {

.logo{
   height: 3rem;
  width: 3rem;
 
}
    .header {
        padding: 0 1rem; 
    }

    .menu-icon {
        display: block;
        cursor: pointer;
        z-index: 1000; 
        padding: 0.5rem;
    }


    .menu-icon span {
        display: block;
        width: 25px;
        height: 3px;
        background-color: black;
        margin: 5px 0;
        transition: 0.4s;
    }

    /* 1. ESTILO DO MENU ABERTO (A lista de links) */
    .nav-links {
        position: absolute;
        top: 64px; 
        right: 0;
        width: 40%; 
        height: auto; 
        background-color: var(--verde-salvia);
        box-shadow: -4px 2px 5px rgba(0, 0, 0, 0.2);
        transition: right 0.3s ease-in-out;
        z-index: 900; 
        padding: 1rem 2rem;
        display: flex;
        justify-content: start;
        flex-direction: column-reverse;
    }

    .nav-links ul {
        flex-direction: column; 
        padding: 1rem 0;
        align-items: flex-start;
        width: 100%;
    }

    .nav-links ul li {
        width: 100%;
    }



    .nav-links ul a {
        display: block;
        width: 100%;
        margin: 0;
        margin-bottom: 10%;
        text-align: left;
        
        &:hover {
            color: black;
            border-bottom: none; 
        }
    }
        .login{
     margin: 5% 0%;
    padding: 5% 20%;
    }

    .nav-links {
        right: -70%;
        display: none;
    }


    .menu-toggle:checked ~.nav-links {
        right: 0%;
        display: flex;
    }

.img-inicio{
  display: none;
}
#sobre{

.direita_sobre{
  display: flex;
  flex-direction: column;
 grid-template-columns: none;

 .btn-contato{
  border-radius: 2rem;
}
}
 .img-apogonos {
  width: 300px;
 }
}
#produtos{
  flex-direction: column-reverse;
}
  .content-produtos {
    
    display: flex;
    grid-template-columns:none;
  }

.card-produto{
   width: 350px;
}

#produtos h2{
  font-size:4rem;
  writing-mode:horizontal-tb;
 transform: rotate(0deg);
}
.card-avaliacao {
  flex-direction: column;
  width: 5rem;
   min-width: 400px;
  max-width: 650px;
}
  /*LOGIN*/
  #Login {
   max-height: 80vh;
  flex-direction: column;
  height: auto;
  img{
    width: 95%;
    height: 10rem;
    top: 1rem;
    left: 2%;
    margin-bottom: 10%;
  }
}
.login-direita{
h1{
  padding: 0;
  left: 0rem;
  top: -4rem;
  white-space:nowrap;
}
}
.form-login {
  position: relative;
  left: .5rem;
  top: -4rem;
  display: flex;
  flex-direction: column;
}
.btn-pedidos {
  margin-left: 25%;
}
      }

@media (max-width: 560px) {

.nav-links {
   height: calc(100vh - 55vh); 
}

#home{
  margin-left: 0rem;


.content-inicio{
  padding: 0rem;
    .btn-vermais{
    width: 15rem;
    height: 3rem;
  }
  }
}

#sobre{
  padding:0rem 2rem ;
  align-items: center;
  justify-content: center;
   .img-apogonos {

    width: 100%;
   }
   .direita_sobre{
    
   .btn-contato{
  
    width: 100%;
  border-radius: 2rem;
   }
}
}

#avaliações{
  padding:40px 20px;
}
.card-avaliacao {
   min-width: 300px;
}

.content-avaliacao{
  gap: 10px;
}

#contato{
  padding: 0rem 1rem;
}

footer{
.footer-contato{
  left:18%;
}
}


}
